  body {
    background-color: #EAF6F6;
  }

  hr {
    
    border-style: none;
<<<<<<< HEAD
    border-top: 5px dotted rgb(0, 0, 0);
=======
    border-top: 5px dotted grey;
>>>>>>> parent of 99c93f7 (Update styles.css)
    width: 5%;
  }
  h1 { 
     color: #66BFBF; 
  }
  
  h3 { 
     color: #66BFBF;
     
  }